@media (max-width: 1200px) {
  .promo {
    padding-bottom: 50px;
    &__wrapper {
      margin-top: 50px;
    }
    &__header {
      line-height: 35px;
      font-size: 35px;
    }
    &__subheader {
      font-size: 20px;
      line-height: 20px;
    }
  }
  .title {
    font-size: 26px;
    line-height: 26px;
    &_left {
      font-size: 30px;
      line-height: 30px;
    }
  }
  .consultation {
    &__descr {
      margin-top: 60px;
    }
  }
  .carousel {
    padding: 50px 0;
    button.prev {
      left: -15px;
    }
  }
  .footer {
    &__info {
      height: 240px;
      padding-top: 40px;
    }
  }
}
@media (max-width: 991px) {
  .container {
    max-width: 685px;
  }
  .header {
    &__logo {
      width: 240px;
    }
  }
  .promo {
    min-height: 500px;
    padding-bottom: 40px;
    &__wrapper {
      margin-top: 40px;
      font-size: 12px;
    }
    &__header {
      font-size: 32px;
      line-height: 32px;
    }
    &__subheader {
      font-size: 20px;
      line-height: 20px;
    }
    &__icons {
      margin-top: 40px;
      width: 380px;
    }
    &__icon {
      width: 96px;

      img {
        margin-bottom: 12px;
      }
    }
    &__link {
      font-size: 14px;
    }
  }
  .button {
    &_main {
      margin-top: 47px;
      width: 270px;
      height: 47px;
      font-size: 15px;
    }
  }
  .benefits {
    padding-top: 45px;
    min-height: 390px;
    &__header {
      font-size: 26px;
      line-height: 26px;
    }
    &__wrapper {
      margin-top: 45px;
    }
    &__subheader {
      font-size: 16px;
      line-height: 16px;
    }
    &__descr {
      font-size: 12px;
      line-height: 12px;
    }
    &__icon {
      img {
        width: 65px;
        height: 65px;
      }
    }
  }
  .consultation {
    padding: 70px 0 55px 0;
    min-height: 550px;
    &__descr {
      margin-top: 45px;
      line-height: 25px;
    }
  }
  .title {
    font-size: 23px;
    line-height: 23px;
    &_left {
      font-size: 28px;
      line-height: 28px;
    }
  }
  .feed-form {
    width: 270px;
  }
  .catalog {
    margin-bottom: 70px;
    &__tab {
      height: 40px;
      line-height: 36px;
      margin: 0 10px;
    }
    &__content {
      justify-content: space-around;
      margin-top: 35px;
    }
    &-item {
      min-height: 390px;
      padding: 17px;
      &__descr {
        font-size: 12px;
        margin-top: 10px;
      }
      &__img {
        height: 165px;
      }
      &__list {
        li {
          font-size: 13px;
          margin-bottom: 15px;
        }
      }
      hr {
        margin: 5px 0 10px 0;
      }
    }
  }
  .feed {
    padding-bottom: 65px;
    &__item {
      margin-top: 40px;
      &:nth-child(2) {
        margin-top: 45px;
      }
    }
    &__descr {
      margin: 0 30px 0 40px;
    }
    &__name {
      margin-bottom: 12px;
      font-size: 16px;
    }
    &__detail {
      margin-bottom: 16px;
      font-size: 13px;
    }
    &__text {
      font-size: 14px;
    }
    hr {
      margin: 35px 0;
    }
  }
  .footer {
    height: 520px;
    &__info {
      height: 195px;
      width: 255px;
      padding: 25px;
    }
    &__addr,
    &__tel {
      margin-bottom: 18px;
      font-size: 17px;
      line-height: 22px;
    }
    &__social {
      &-item {
        height: 38px;
        width: 38px;
        img {
          height: 22px;
        }
      }
    }
    iframe.map {
      height: 520px;
    }
  }
  .pageup {
    width: 35px;
    height: 35px;
  }
  .modal {
    width: 350px;
    padding: 30px 40px 30px 40px;
    &__subtitle {
      font-size: 16px;
    }
    &__descr {
      font-size: 13px;
    }
    label.error {
      margin-bottom: 13px;
      font-size: 13px;
      line-height: 13px;
    }
  }
  .feed-form {
    input {
      margin-bottom: 10px;
      &:nth-of-type(3) {
        margin-bottom: 17px;
      }
    }
  }
  .button_submit {
    width: 270px;
    height: 47px;
  }
  .tns-item {
    margin-top: 20px;
    img {
      width: 90%;
    }
  }
  .prev,
  .next {
    display: none;
  }
  .tns-nav {
    text-align: center;
    button {
      background-color: grey;
      height: 25px;
      width: 25px;
      border-radius: 100%;
      margin: 7px;
      border: none;
      &:hover {
        cursor: pointer;
      }
    }
    .tns-nav-active {
      background-color: $main-color;
    }
  }
}
@media (max-width: 767px) {
  .container {
    max-width: 540px;
  }
  .header {
    &__logo {
      width: 45%;
      img {
        width: 90%;
      }
    }
    &__official {
      display: none;
      width: 5%;
    }
    &__contacts {
      width: 40%;
    }

    &__phone {
      font-size: 13px;
    }
  }
  .promo {
    min-height: 375px;
    padding-bottom: 30px;
    &__wrapper {
      margin-top: 30px;
      font-size: 10px;
    }
    &__header {
      font-size: 28px;
      line-height: 28px;
    }
    &__subheader {
      margin-top: 10px;
      font-size: 16px;
      line-height: 13px;
    }
    &__icons {
      margin-top: 30px;
      width: 260px;
    }
    &__icon {
      img {
        width: 30px;
        height: 30px;
        margin-bottom: 10px;
      }
    }
    &__link {
      margin-top: 20px;
      font-size: 14px;
    }
  }
  .button {
    width: 140px;
    height: 35px;
    font-size: 13px;
    &_main {
      margin-top: 30px;
      width: 230px;
      height: 38px;
      font-size: 13px;
    }
    &_submit {
      width: 250px;
      height: 40px;
      font-size: 12px;
    }
  }
  .benefits {
    min-height: 330px;
    &__wrapper {
      margin-top: 30px;
    }
    &__header {
      font-size: 18px;
      line-height: 18px;
    }
    &__icon {
      img {
        width: 40px;
        height: 40px;
      }
    }
    &__subheader {
      margin-top: 17px;
      font-size: 13px;
      line-height: 13px;
    }
    &__descr {
      margin-top: 15px;
      font-size: 10px;
    }
    &__item {
      min-width: 170px;
    }
  }
  .consultation {
    padding: 40px 0 35px 0;
    min-height: 410px;
    &__descr {
      margin-top: 25px;
      font-size: 16px;
      line-height: 20px;
    }
  }
  .feed {
    &-form {
      width: 250px;
      input {
        height: 40px;
      }
    }
  }
  .carousel {
    padding: 40px 0;
  }
  .tns {
    &-nav {
      button {
        height: 17px;
        width: 17px;
        margin: 8px;
      }
    }
    &-item {
      img {
        width: 75%;
      }
    }
  }

  .title {
    font-size: 20px;
    line-height: 20px;
    &_left {
      font-size: 20px;
      line-height: 20px;
    }
  }
  .catalog {
    margin-bottom: 50px;
    &__tab {
      height: 36px;
      line-height: 32px;
    }
    &-item {
      width: 260px;
      &__list {
        li {
          font-size: 12px;
          margin-bottom: 6px;
          padding-left: 10px;
        }
      }
      img {
        height: 150px;
      }
      &__footer {
        flex-direction: column;
      }
      &__prices {
        margin-bottom: 15px;
      }
      &__price {
        font-size: 15px;
        display: inline-block;
      }
      &__old-price {
        font-size: 13px;
        display: inline-block;
      }
      &__subtitle {
        margin-top: 12px;
        font-size: 15px;
      }
      &__descr {
        margin-bottom: 10px;
      }
    }
  }
  .feed {
    padding-bottom: 45px;
    &__name {
      font-size: 14px;
      margin-bottom: 8px;
    }
    &__detail {
      font-size: 10px;
    }
    &__text {
      font-size: 11px;
    }
    &__item {
      img {
        width: 120px;
        height: 120px;
      }
    }
  }
  .footer {
    height: 375px;
    &__info {
      height: 150px;
      right: 0;
      left: initial;
      transform: translateX(0%);
    }
    &__addr,
    &__tel {
      margin-bottom: 14px;
      font-size: 14px;
      line-height: 14px;
    }
    iframe.map {
      height: 450px;
    }
  }
  .pageup {
    width: 30px;
    height: 30px;
  }
  .modal {
    width: 320px;
    padding: 25px 35px 25px 35px;
    &__subtitle {
      font-size: 15px;
    }
    &__descr {
      font-size: 12px;
    }
    label.error {
      margin-bottom: 10px;
      font-size: 12px;
      line-height: 12px;
    }
  }
}
@media (max-width: 575px) {
  .container {
    width: 90%;
  }
  .header {
    &__logo {
      width: 49%;
      margin: 0 12px;
      img {
        width: 100%;
      }
    }
    &__official {
      width: 1%;
    }
    &__contacts {
      width: 40%;
      margin: 0 12px;
    }
    &__phone {
      font-size: 12px;
    }
  }
  .promo {
    min-height: 450px;
    &__wrapper {
      margin-top: 40px;
    }
    &__header {
      text-align: center;
      line-height: 32px;
    }
    &__subheader {
      text-align: center;
      line-height: 20px;
    }
  }
  .button {
    width: 120px;
    height: 25px;
    font-size: 11px;
    &_main {
      width: 220px;
      height: 40px;
    }
    &_submit {
      width: 250px;
      height: 40px;
      font-size: 12px;
    }
  }
  .benefits {
    min-height: 290px;
    &__wrapper {
      margin-top: 30px;
      flex-wrap: wrap;
      justify-content: space-around;
    }
    &__header {
      font-size: 22px;
      line-height: 22px;
    }
    &__item {
      max-width: 200px;
      align-items: center;
      margin: 20px 15px;
      &:nth-child(1) {
        order: -1;
      }
      &:nth-child(3) {
        order: 1;
      }
      &:nth-child(2) {
        order: 2;
        margin-bottom: 35px;
      }
    }
    &__subheader {
      font-size: 13px;
      line-height: 13px;
    }
  }
  .catalog {
    margin-bottom: 50px;
    &__tab {
      height: 36px;
      line-height: 31px;
      font-size: 12px;
    }
  }
  .feed {
    padding-bottom: 40px;

    &__item {
      margin-top: 30px;
      flex-direction: column;
      text-align: center;
      &:nth-child(2) {
        margin-top: 30px;
      }
      img {
        margin-bottom: 15px;
      }
    }
  }
  .footer {
    height: 470px;
    &__info {
      height: 140px;
      width: 185px;
      padding: 15px 3px;
    }
    &__addr,
    &__tel {
      margin-bottom: 13px;
      font-size: 13px;
      line-height: 13px;
    }
    &__social {
      &-item {
        margin: 0 10px;
      }
    }
    iframe.map {
      height: 470px;
    }
  }

  .modal {
    width: 300px;
    padding: 25px 25px 25px 25px;
    &__close {
      top: -11px;
      right: -25px;
    }
  }
}
