.feed {
  padding-bottom: 90px;

  &__item {
    display: flex;
    margin-top: 50px;
    align-items: center;
    &:nth-child(2) {
      margin-top: 70px;
    }

    img {
      width: 159px;
      height: 159px;
    }
  }
  &__descr {
    margin: 0 45px 0 65px;
  }
  &__name {
    margin-bottom: 15px;
    color: #0d0d0d;
    font-size: 18px;
    font-weight: 700;
  }
  &__detail {
    margin-bottom: 23px;
    color: #646464;
    font-size: 14px;
    font-weight: 500;
  }
  &__text {
    color: #0d0d0d;
    font-size: 16px;
    font-weight: 300;
  }
  hr {
    margin: 50px 0;
  }
}
