.promo {
  min-height: 650px;
  padding: 21px 0 93px 0;
  background: url(../img/bg/main.png) center (center/cover) no-repeat;

  &__wrapper {
    margin-top: 90px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    color: #ffffff;
    font-size: 14px;
    font-weight: 500px;
  }
  &__header {
    font-size: 42px;
    line-height: 42px;
    font-weight: 700;
    text-transform: uppercase;
  }
  &__subheader {
    margin-top: 17px;
    font-size: 24px;
    line-height: 24px;
    text-transform: uppercase;
  }
  &__icons {
    margin-top: 65px;
    width: 425px;
    display: flex;
    justify-content: space-between;
  }
  &__icon {
    width: 106px;
    text-align: center;
    img {
      display: block;
      margin: 0 auto;
      margin-bottom: 20px;
    }
  }
  &__link {
    font-size: 16px;
    margin-top: 18px;
    a {
      text-decoration: underline;
      text-transform: uppercase;
      color: #ffffff;
    }
  }
}
