.title {
  color: black;
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 45px;
  text-align: center;

  &_left {
    color: #ffffff;
    font-size: 36px;
    text-align: left;
  }
}
